@import url('http://fonts.googleapis.com/css?family=Noto+Sans');

/*-------------------------------------------+
 | MINIMAL CSS RESET                         |
 | http://meyerweb.com/eric/tools/css/reset/ |
 | https://cssboss.com/reset/                |
 +-------------------------------------------*/
html,body,div,ul,li,
h1,h2,h3,h4,h5,p,span {
     margin: 0;
     padding: 0;
     border: 0;
}
ul, li { list-style: none; }
body { line-height: 1.2; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*----------------+
 | DEFAULT STYLES |
 +----------------*/
body {
    background-image: url('images/bg.jpg');
    font-size: .9em;
}
* { font-family: 'Noto Sans', Cantarell, Verdana, sans-serif !important; }
*:hover > a { text-decoration: underline; }
a, a:active, a:visited { color: #edd; text-decoration: none; }
a:hover { text-decoration: underline; }

.smile { display: inline-block; transform: rotate(90deg); }

/* melhora a exibição do título dos diálogos */
.ui-dialog .ui-dialog-title {
    line-height: 130%;
}

/* componentes que necessitam de Javascript para funcionar iniciam ocultos */
.js { display: none; }

/*--------+
 | HEADER |
 +--------*/
header {
    height: 65px;
    width: 100%;
    padding-top: 20px;
    box-shadow: 0 3px 5px #222;
    background-image: url('images/header.jpg');
    position: fixed;
}

header h1 {
    display: inline-block;
    font-size: 2.7em;
    font-variant: small-caps;
    text-shadow: 1px 2px 0 #888;
    margin-left: 15%;
}
header div#header-buttons {
    float: right;
    margin-right: 15%;
}

/*--------------+
 | MAIN CONTENT |
 +--------------*/
#main-content {
    width: 80%;
    max-width: 890px;
    margin: 0 auto;
    padding: 100px 25px 10px 25px;
    color: #edd;
}
#program-definition .program {
    width: 40%;
    height: 250px;
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    background-color: #4f4f4f;
    background-color: rgba(255,255,255,.15);
}
#program-definition .program.empty {
    text-align: center;
    vertical-align: middle;
}

/*-----------------------+
 | CREATE PROGRAM DIALOG |
 +-----------------------*/
#create-program input[type="text"] {
    width: 40px;
}
#create-program ul.instruction-list {
    display: block;
    float: right;
    height: 100%;
    width: 310px;
    border-left: 1px solid #aaa;
    padding: 2px 5px 3px 13px;
    overflow: auto;
}
#create-program ul.instruction-list li {
    padding: 2px;
    line-height: 125%;
    cursor: pointer;
    font-family: monospace !important;
}
#create-program ul.instruction-list li:hover {
    background-color: #ddf;
}
#create-program ul.instruction-list li.selected {
    background-color: #5bf;
    color: #fff;
    font-weight: bold;
}
